---
import { Picture } from 'astro:assets'
import { getCollection } from 'astro:content'

import ProjectHoverImage from './ProjectHoverImage'
const posts = await getCollection('projects')
---

<div class='fixed right-0 top-4 z-50'>
  {
    posts.length > 0 &&
      posts.map((post) => {
        if (post.data.hoverImage) {
          if (post.data.hoverVideo) {
            return (
              <ProjectHoverImage client:only='react' src={post.data.title}>
                <video
                  src={post.data.hoverVideo}
                  autoplay
                  muted
                  transition:animate='slide'
                  transition:persist
                  transition:name={post.data.hoverVideo}
                />
              </ProjectHoverImage>
            )
          } else {
            return (
              <ProjectHoverImage client:only='react' src={post.data.title}>
                <Picture
                  formats={['avif', 'webp']}
                  widths={[360, 768, 1024, 1440]}
                  src={post.data.hoverImage}
                  class='object-fill z-50'
                  alt=''
                  transition:animate='slide'
                  transition:persist
                  transition:name={post.data.hoverImage.src}
                />
              </ProjectHoverImage>
            )
          }
        }
      })
  }
</div>
