---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Navigation from '../components/Navigation'
import { ViewTransitions } from 'astro:transitions'
import NavigationItem from '../components/NavigationItem'
---

<!doctype html>
<html lang='en'>
  <head>
    <!-- <SEO
            title={title}
            description={description}
            keywords={keywords}
            url={url}
            image={image}
        /> -->
    <ViewTransitions />
  </head>
  <body>
    <Navigation />
  </body>
</html>
