---
import Layout from '../layouts/Layout.astro'

import ProjectYearList from '../components/ProjectYearList'
import ProjectHoverImages from '../components/ProjectHoverImages'
import ProjectListItem from '../components/ProjectListItem'
import { getCollection } from 'astro:content'
import { Works } from '../types/works'
const posts = await getCollection('projects')
// const posts = await Astro.glob('../content/projects/*.mdx') // returns an array of posts that live at ./src/pages/post/*.md
console.log(posts)
---

<Layout>
  <section class='pt-3 w-full'>
    <!-- TODO we need to break this down so that we dont have to make  -->
    <ProjectYearList year={2023} client:only='react' />
    <ProjectHoverImages client:only='react' />
    <div class={'mb-14 w-100 overflow-hidden'}>
      <span class={'cursor-pointer block float-right text-xs leading-4 tracking-wide '}> 2023</span>
      <ul class={'flex w-11/12 gap-x-20 gap-y-11 flex-wrap md:flex-row flex-col'}>
        {
          posts.map((post) => {
            return (
              <ProjectListItem
                title={post.data.title}
                date={post.data.date}
                tags={post.data.tags}
              />
            )
          })
        }
        <!-- <ProjectListItem
          title={Works.BaobaoDazzle}
          date='8-16-2023'
          tags={['Art Direction', 'Art Direction', 'Art Direction', 'Art Direction']}
          onMouseEnter={() => {
            // $projectHoverImageAtom.set(ProjectName.RhizomatiksFencing)
          }}
        />
        <ProjectListItem
          title={Works.BaobaoDazzle}
          tags={['Art Direction', 'Art Direction', 'Art Direction', 'Art Direction']}
          date='8-16-2023'
          onMouseEnter={() => {
            // $projectHoverImageAtom.set(ProjectName.Synflux)
          }}
        /> -->
      </ul>
    </div>
  </section>
</Layout>
