---
import { YouTube } from '@astro-community/astro-embed-youtube'
import { Picture } from 'astro:assets'
import { getCollection } from 'astro:content'

import Layout from '../../layouts/Layout.astro'
import { Card } from '../../components/ui/card'
import { ScrollArea } from '@radix-ui/react-scroll-area'
import TextSection from '../../components/blog/TextSection'
import { Spacer } from '../../components/layout/Spacer'
import { Separator } from '../../components/ui/separator'
import { Button } from '../../components/ui/button'
import { AspectRatio } from '../../components/ui/aspect-ratio'

export async function getStaticPaths() {
  const blogEntries = await getCollection('projects')
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout>
  {
    entry.data.hoverVideo && (
      <video
        src={entry.data.hoverVideo}
        autoplay
        muted
        transition:persist
        transition:name={entry.data.hoverVideo}
      />
    )
  }
  {
    entry.data.hoverImage && (
      <Picture
        class={'h-[400px] object-cover'}
        formats={['avif', 'webp']}
        src={entry.data.hoverImage}
        transition:persist
        alt='A description of my image.'
        transition:name={entry.data.hoverImage.src}
      />
    )
  }

  <Spacer size={32} />
  <TextSection className='pb-8 gap-2'>
    <h1 class='flex text-4xl'>
      {entry.data.title}
    </h1>
    <h3 class='text-lg'>
      How to stay safe online and prevent phishing with FIDO2, WebAuthn and security keys.
    </h3>
    <time>{entry.data.updatedDate} Oct 21, 2019</time>
    <div class='flex flex-wrap gap-2'>
      {
        entry.data.tags.map((tag) => {
          const formattedTag = tag.charAt(0).toUpperCase() + tag.slice(1)
          return (
            <Button variant={'secondary'}>
              <a href={'/types/' + tag}>{formattedTag}</a>
            </Button>
          )
        })
      }
    </div>
  </TextSection>

  <div class='flex justify-center'>
    {entry.data.youtube && <YouTube id={entry.data.youtube!} class={'block w-full'} />}
  </div>
  <Spacer size={32} />
  <Content />
  <Spacer size={32} />

  <TextSection>
    <Separator />
    <Spacer size={32} />
    <Card className='px-8 py-4 w-full'>
      <h4 class='mb-4 text-xl font-medium leading-none text-center md:text-left'>Credits</h4>
      <div class='flex md:flex-row flex-col gap-4 text-center md:text-left'>
        {
          entry.data.credits.map((credit) => {
            return <p>{credit}</p>
          })
        }
      </div>
    </Card>
    <Spacer size={32} />
    <Card className='px-8 py-4 w-full'>
      <h4 class='mb-4 text-xl font-medium leading-none text-center md:text-left'>Thanks</h4>
      <div class='flex md:flex-row flex-col gap-4 text-center md:text-left'>
        {
          entry.data.thanks.map((credit) => {
            return <p>{credit}</p>
          })
        }
      </div>
    </Card>
  </TextSection>
  <Spacer size={32} />
  <TextSection>
    <Separator />
  </TextSection>
  <Spacer size={32} />
</Layout>
