---
// Import the global.css file here so that it is included on
// all pages through the use of the <SEO /> component.

import '../styles/globals.css'
import '@fontsource/inter'
import '@fontsource/rosarivo'

import { type CollectionEntry, getCollection } from 'astro:content'
import { ViewTransitions } from 'astro:transitions'
import { SEO } from 'astro-seo'

import Navigation from '../components/layout/Navigation.astro'
import Sidebar from '../components/layout/SideBar.astro'
import { Toaster } from '../components/ui/toaster'

interface ProjectProps {
  isProject: true
  isBlog?: false
  posts: CollectionEntry<'projects'>
}

interface BlogProps {
  isProject?: false
  isBlog: true
  posts: CollectionEntry<'blogs'>
}

interface NonProjectProps {
  isProject?: false
  isBlog?: false
  posts?: CollectionEntry<'projects'>
}

type Props = ProjectProps | NonProjectProps | BlogProps

export async function getStaticPaths() {
  if (isProject) {
    const posts = await getCollection('projects')
    return posts.map((post) => ({
      params: { slug: post.slug },
      props: {
        posts,
      },
    }))
  } else if (isBlog) {
    const posts = await getCollection('blogs')
    return posts.map((post) => ({
      params: { slug: post.slug },
      props: {
        posts,
      },
    }))
  } else return
}

const { isProject, isBlog, posts } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <!-- Global Metadata -->

    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <meta
      http-equiv='content-security-policy'
      content="
    upgrade-insecure-requests;
    script-src 'self' 'unsafe-inline' 'unsafe-eval' ajax.cloudflare.com platform.twitter.com static.cloudflareinsights.com www.youtube.com player.vimeo.com vimeo.com;
    connect-src wss://localhost:4321/ ws://localhost:4321/ vimeo.com localhost:4321 https://cloudflareinsights.com static.cloudflareinsights.com *.ingest.sentry.io sentry.io;
    worker-src 'self' blob:; 
    child-src 'self' platform.twitter.com giphy.com player.vimeo.com vimeo.com static.cloudflareinsights.com www.youtube.com blob:;
    media-src 'self' *.kyeshimizu.com *.cloudfront.net data:;
  "
    />
    <link rel='sitemap' href='/sitemap-index.xml' />
    <link rel='icon' href='/favicon.svg' />
    <SEO
      title='Kye Shimizu | Portfolio'
      description='A personal portfolio of Kye Shimizu'
      openGraph={{
        basic: {
          title:
            isProject === true
              ? `Kye Shimizu | Portfolio | ${posts.data.title}`
              : 'Kye Shimizu | Portfolio',
          type: 'A type.',
          image:
            isProject === true
              ? new URL(`/og/projects/${posts.slug}.png`, Astro.url.origin).toString()
              : new URL('/ogp.png', Astro.url.origin).toString(),
        },
        optional: {
          locale: 'en',
          siteName: 'kyeshimizu.com',
          description:
            isProject === true
              ? `Kye Shimizu | ${posts.data.subtitle}`
              : 'Kye Shimizu personal portfolio',
        },
      }}
      twitter={{
        creator: '@kyeshimzu',
        card: 'summary',
        title:
          isProject === true
            ? `Kye Shimizu | Portfolio | ${posts.data.title}`
            : 'Kye Shimizu | Portfolio',
        description:
          isProject === true
            ? `Kye Shimizu | ${posts.data.subtitle}`
            : 'Kye Shimizu personal portfolio',

        image:
          isProject === true
            ? new URL(`/og/projects/${posts.slug}.png`, Astro.url.origin).toString()
            : new URL('/ogp.png', Astro.url.origin).toString(),
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: 'icon', href: '/favicon.ico' }],
        // extending the default meta tags
        meta: [
          {
            name: 'twitter:title',
            content:
              isProject === true
                ? `Kye Shimizu | Portfolio | ${posts.data.title}`
                : 'Kye Shimizu | Portfolio',
          },
          {
            name: 'twitter:description',
            content:
              isProject === true
                ? `Kye Shimizu | ${posts.data.subtitle}`
                : 'Kye Shimizu personal portfolio',
          },
        ],
      }}
    />

    <ViewTransitions />
  </head>

  <body>
    <Navigation />
    <Sidebar transition:persist />

    <Toaster client:idle client:only='react' />

    <main class='py-6 w-15 mx-6 md:mx-28 my-0 pt-[72px] relative'>
      <slot />
    </main>

    <script>
      window.twttr = (function (d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0],
          //@ts-ignore
          t = window.twttr || {}
        if (d.getElementById(id)) return t
        js = d.createElement(s)
        js.id = id
        //@ts-ignore
        js.src = 'https://platform.twitter.com/widgets.js'
        //@ts-ignore
        fjs.parentNode.insertBefore(js, fjs)

        t._e = []
        t.ready = function (f: any) {
          t._e.push(f)
        }

        return t
      })(document, 'script', 'twitter-wjs')
    </script>
  </body>
</html>
