---
// Import the global.css file here so that it is included on
// all pages through the use of the <SEO /> component.

import SectionContainer from '@/src/components/SectionContainer.astro'
import SEO from '@/src/components/SEO.astro'
import { Icon } from 'astro-icon'
import { SOCIALS } from '../config'
import { ViewTransitions } from 'astro:transitions'
import Navigation from '../components/Navigation'
import Sidebar from '../components/SideBar'
import ProjectYearList from '../components/ProjectYearList'

const currentYear = new Date().getFullYear()

const { class: className, title, description, keywords, url, twitterhandle, image } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- <SEO
            title={title}
            description={description}
            keywords={keywords}
            url={url}
            image={image}
        /> -->
    <ViewTransitions />
  </head>
  <body>
    <Navigation />
    <Sidebar />

    <main class='py-6 w-15 mx-6 md:mx-28 my-0 pt-[72px]'>
      <slot />
    </main>
  </body>
</html>
