---
// Import the global.css file here so that it is included on
// all pages through the use of the <SEO /> component.

import SectionContainer from '@/src/components/SectionContainer.astro'
import SEO from '@/src/components/SEO.astro'
import { Icon } from 'astro-icon'
import { SOCIALS } from '../config'
import { ViewTransitions } from 'astro:transitions'
import Navigation from '../components/Navigation'
import BodyLayout from './BodyLayout'
import Sidebar from '../components/SideBar'

const currentYear = new Date().getFullYear()

const { class: className, title, description, keywords, url, twitterhandle, image } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <!-- <SEO
            title={title}
            description={description}
            keywords={keywords}
            url={url}
            image={image}
        /> -->
    <ViewTransitions />
  </head>
  <body>
    <Navigation />
    <BodyLayout>
      <main class={className}>
        <slot />
      </main>
      <Sidebar />
    </BodyLayout>
  </body>
</html>
